version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: fraud-postgres
    environment:
      POSTGRES_DB: banking_fraud_detection_db
      POSTGRES_USER: fraud_user
      POSTGRES_PASSWORD: fraud_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fraud-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fraud_user -d banking_fraud_detection_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: fraud-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - fraud-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: fraud-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      # LISTEN on all interfaces
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - fraud-network

  fraud-service:
    build: .
    container_name: fraud-service
    depends_on:
      - postgres
      - kafka
    image: fraud-detection-service
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/banking_fraud_detection_db
      SPRING_DATASOURCE_USERNAME: fraud_user
      SPRING_DATASOURCE_PASSWORD: fraud_pass
    networks:
      - fraud-network

volumes:
  postgres_data:

networks:
  fraud-network:
    driver: bridge

